<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:remove="all">Order Confirmation</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<div>
			<h1>
				Order number: <span th:text="${purchaseOrder.id}"> </span>
			</h1>
			<p>
				Date order: <span th:text="${#dates.format(purchaseOrder.dateOrder, 'dd/MM/yyyy hh:mm')}"></span>
			</p>
			<p>
				Client: <span th:text="${purchaseOrder.client.name}"></span>
			</p>
			<p>
				Payment status: <span th:text="${purchaseOrder.payment.status.description}"></span>
			</p>
			<h3>Order details:</h3>
			<table border="1">
				<tr>
					<th>Product</th>
					<th>Quantity</th>
					<th>Unit price</th>
					<th>Subtotal</th>
				</tr>
				<tr th:each="item : ${purchaseOrder.itemPurchaseOrders}">
					<td th:text="${item.product.name}">Name</td>
					<td th:text="${item.quantity}">Quantity</td>
					<td th:text="${#numbers.formatDecimal(item.price, 0, 'POINT', 2, 'COMMA')}">Price</td>
					<td th:text="${#numbers.formatDecimal(item.subTotal, 0, 'POINT', 2, 'COMMA')}">SubTotal</td>
				</tr>
			</table>
			<p>
				Total: <span th:text="${#numbers.formatDecimal(purchaseOrder.totalValue, 0, 'POINT', 2, 'COMMA')}"></span>
			</p>
		</div>
	</body>
</html>